.kaleidoscope-absolute {
    position: absolute;
}

.kaleidoscope-1-1 {
    left: 180px;
    bottom: 180px;
}

.kaleidoscope-2-1 {
    left: 85px;
    bottom: 85px;
}

.kaleidoscope-2-2 {
    left: 275px;
    bottom: 275px;
}

.kaleidoscope-3-1 {
    left: 63px;
    bottom: 113px;
}

.kaleidoscope-3-2 {
    left: 180px;
    bottom: 315px;
}

.kaleidoscope-3-3 {
    left: 300px;
    bottom: 113px;
}

.kaleidoscope-4-1 {
    left: 85px;
    bottom: 85px;
}

.kaleidoscope-4-2 {
    left: 85px;
    bottom: 275px;
}

.kaleidoscope-4-3 {
    left: 275px;
    bottom: 275px;
}

.kaleidoscope-4-4 {
    left: 275px;
    bottom: 85px;
}

.kaleidoscope-5-1 {
    left: 180px;
    bottom: 180px;
}

.kaleidoscope-5-2 {
    left: 101px;
    bottom: 71px;
}

.kaleidoscope-5-3 {
    left: 52px;
    bottom: 222px;
}

.kaleidoscope-5-4 {
    left: 180px;
    bottom: 315px;
}

.kaleidoscope-5-5 {
    left: 308px;
    bottom: 222px;
}

.kaleidoscope-5-6 {
    left: 259px;
    bottom: 71px;
}

.kaleidoscope-7-1 {
    left: 180px;
    bottom: 180px;
}

.kaleidoscope-7-2 {
    left: 63px;
    bottom: 113px;
}

.kaleidoscope-7-3 {
    left: 63px;
    bottom: 248px;
}

.kaleidoscope-7-4 {
    left: 180px;
    bottom: 315px;
}

.kaleidoscope-7-5 {
    left: 297px;
    bottom: 248px;
}

.kaleidoscope-7-6 {
    left: 297px;
    bottom: 113px;
}

.kaleidoscope-7-7 {
    left: 180px;
    bottom: 45px;
}

.kaleidoscope-11-7 {
    left: 52px;
    bottom: 149px;
}

.kaleidoscope-11-8 {
    left: 107px;
    bottom: 317px;
}

.kaleidoscope-11-9 {
    left: 283px;
    bottom: 317px;
}

.kaleidoscope-11-10 {
    left: 338px;
    bottom: 148px;
}

.kaleidoscope-11-11 {
    left: 195px;
    bottom: 45px;
}

.kaleidoscope-11-12 {
    left: 127px;
    bottom: 178px;
}

.kaleidoscope-11-13 {
    left: 156px;
    bottom: 267px;
}

.kaleidoscope-11-14 {
    left: 249px;
    bottom: 267px;
}

.kaleidoscope-11-15 {
    left: 278px;
    bottom: 178px;
}

.kaleidoscope-11-16 {
    left: 203px;
    bottom: 123px;
}

@media screen and (max-width: 800px) {

}
